
.leaflet-popup-content-wrapper {
 box-shadow: var(--box-Shadow-Hall-Free);
 background: transparent;
}


.custom-popup .leaflet-popup-content {
  margin: 0;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.leaflet-container .custom-popup a{
    color: var(--green-White-BG)!important;
    font-family: 'GilroyBold'!important; 
    font-size: 16px!important;
}